name: EKS Deployment

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/view-app:v1 .
          docker push ${{ secrets.DOCKER_USERNAME }}/view-app:v1

  deploy:
    name: Deploy to EKS
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code (to access YAML files)
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-1'

      - name: EKS configure
        run: |
          aws eks update-kubeconfig --name ${{ secrets.CLUSTER_NAME }} --region us-east-1

      - name: Update EKS deployment
        run: |
          kubectl set image deployment/go-server-deployment go-server-ctnr=${{ secrets.DOCKER_USERNAME }}/view-app:v1 --record

      - name: Apply Kubernetes configuration
        run: |
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml

  verify:
    name: Verify Deployment
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Verify deployment status
        run: |
          kubectl get deployments
          kubectl get pods
          kubectl get svc

      - name: Install NGINX Ingress Controller
        run: |
          kubectl create namespace ingress-nginx
          kubectl apply -f nginx-controller.yaml
          kubectl apply -f ingress.yaml

      - name: Verify Ingress
        run: |
          kubectl get deployments -n ingress-nginx
          kubectl get services -n ingress-nginx
          kubectl get ingresses
